.idea
/public/wp-content/db.php
/public/wp-content/object-cache.php


/cli/wp
/vendor/
/public/wp/

/public/.htaccess

/public/wp-content/ewww/
/public/wp-content/cache/

/public/wp-content/plugins/
!/public/wp-content/plugins/.gitkeep

/public/wp-content/uploads/
!/public/wp-content/uploads/.gitkeep