.idea
/public/wp-content/db.php


/vendor/
/public/wp/

/public/wp-content/ewww/

/public/wp-content/plugins/
!/public/wp-content/plugins/.gitkeep

/public/wp-content/uploads/
!/public/wp-content/uploads/.gitkeep