@import "../../../theme/assets/css/variables";

.catalog-mater-icons {
    margin-top: 10px;
    margin-bottom: 0;

    .catalog-icon {
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
    }
}

.catalog-mater-small-list {
    font-size: 14px;
    color: #6b7886;
    .pro & {
        color: $color-primary;
    }

    a {
        color: #6b7886;
        .pro & {
            color: $color-primary;
        }
    }

    span {
        white-space: nowrap;
    }
}

.frontpage-catalog {
    a {
        font-weight: 300;
        text-decoration: none;
        color: $color-dark;
        line-height: 26px;


        i {
            font-weight: 200;
            color: $color-primary;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $color-primary;
            margin-right: 10px;
        }
    }
}

.catalog-master-page {
    .catalog-subs {
        padding-top: 15px;

        @media (min-width: $screen-width-sm) {
            padding-top: 0;
            padding-left: 75px;
        }

        a::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $color-primary;
            margin-right: 5px;
        }
    }

    .catalog-title a {
        display: table;
        font-size: 16px;
        font-weight: bolder;
        text-decoration: none;

        .icon, .link {
            display: table-cell;
            vertical-align: middle;
        }
        .icon {
            font-size: 0;
        }
        .link {
            padding-left: 10px;
            font-weight: 200;
            color: $color-primary;

            span {
                font-weight: 400;
                color: $color-dark;
            }
        }

        &:hover, &:visited {
            .link span {
                text-decoration: underline;
            }
        }

        svg {
            fill: $color-dark;
            width: 48px;
            height: 48px;
        }
    }

    .catalog-subs {
        a {
            text-decoration: none;
            font-weight: 200;
            color: $color-primary;

            span {
                font-weight: 300;
                color: $color-dark;
            }

            &:hover, &:visited {
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}
