.catalog-mater-icons {
  margin-top: 10px;
  margin-bottom: 0;
}
.catalog-mater-icons .catalog-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
}

.catalog-mater-small-list {
  color: #6b7886;
}
.pro .catalog-mater-small-list {
  color: #E67E22;
}
.catalog-mater-small-list a {
  color: #6b7886;
}
.pro .catalog-mater-small-list a {
  color: #E67E22;
}
.catalog-mater-small-list span {
  display: inline-block;
}

.catalog-mater-3col a, .catalog-mater-3col a:hover {
  color: #424949;
}
.catalog-mater-3col hr {
  border-color: #B2BABB;
}
.catalog-mater-3col .catalog-title {
  display: table;
}
.catalog-mater-3col .catalog-title .icon, .catalog-mater-3col .catalog-title .text {
  display: table-cell;
  vertical-align: middle;
}
.catalog-mater-3col .catalog-title a {
  font-size: 16px;
  font-weight: bolder;
}
.catalog-mater-3col .catalog-title .text {
  padding-left: 10px;
  font-weight: 200;
  color: #E67E22;
}
.catalog-mater-3col .catalog-title .text span {
  font-weight: 400;
  text-decoration: underline;
  color: #424949;
}
.catalog-mater-3col .catalog-title svg {
  fill: #424949;
  width: 48px;
  height: 48px;
}
.catalog-mater-3col .catalog-title.active, .catalog-mater-3col .catalog-title a:hover {
  text-decoration: none;
}
.catalog-mater-3col .catalog-title.active .text, .catalog-mater-3col .catalog-title a:hover .text {
  color: #E67E22;
}
.catalog-mater-3col .catalog-title.active svg, .catalog-mater-3col .catalog-title a:hover svg {
  fill: #E67E22;
}
.catalog-mater-3col .item {
  background: #F9F9F9;
  border: 1px solid #B2BABB;
  position: relative;
}
.catalog-mater-3col .item .all {
  text-decoration: underline;
}
.catalog-mater-3col .item .help-text {
  color: #B2BABB;
}
.catalog-mater-3col .item a::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E67E22;
  margin-right: 10px;
}
.catalog-mater-3col .item .arrow {
  position: absolute;
  display: block;
  width: 10px;
  height: 5px;
  top: 0;
  left: 27px;
}
.catalog-mater-3col .item .arrow::before {
  content: "";
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  margin-left: -7px;
  border-top-width: 0;
  top: -11px;
  border-bottom-color: #B2BABB;
}
.catalog-mater-3col .item .arrow::after {
  content: "";
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  margin-left: -7px;
  border-top-width: 0;
  top: -10px;
  border-bottom-color: #F9F9F9;
}
.catalog-mater-3col .item.item-2 .arrow {
  left: 267px;
}
@media (min-width: 992px) {
  .catalog-mater-3col .item.item-2 .arrow {
    left: 347px;
  }
}
.catalog-mater-3col .item.item-3 .arrow {
  left: 507px;
}
@media (min-width: 992px) {
  .catalog-mater-3col .item.item-3 .arrow {
    left: 667px;
  }
}
.catalog-mater-3col .item .subcategory-link {
  font-weight: 200;
  text-decoration: none;
  color: #E67E22;
}
.catalog-mater-3col .item .subcategory-link span {
  font-weight: 300;
  color: #424949;
}
.catalog-mater-3col .item .subcategory-link:hover span, .catalog-mater-3col .item .subcategory-link:visited span {
  text-decoration: underline;
}

.catalog-master-page .catalog-subs {
  padding-top: 15px;
}
@media (min-width: 576px) {
  .catalog-master-page .catalog-subs {
    padding-top: 0;
    padding-left: 75px;
  }
}
.catalog-master-page .catalog-subs a::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E67E22;
  margin-right: 10px;
}
.catalog-master-page .catalog-title a {
  display: table;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
}
.catalog-master-page .catalog-title a .icon, .catalog-master-page .catalog-title a .link {
  display: table-cell;
  vertical-align: middle;
}
.catalog-master-page .catalog-title a .icon {
  font-size: 0;
}
.catalog-master-page .catalog-title a .link {
  padding-left: 10px;
  font-weight: 200;
  color: #E67E22;
}
.catalog-master-page .catalog-title a .link span {
  font-weight: 400;
  color: #424949;
}
.catalog-master-page .catalog-title a:hover .link span, .catalog-master-page .catalog-title a:visited .link span {
  text-decoration: underline;
}
.catalog-master-page .catalog-title a svg {
  fill: #424949;
  width: 48px;
  height: 48px;
}
.catalog-master-page .catalog-subs a {
  text-decoration: none;
  font-weight: 200;
  color: #E67E22;
}
.catalog-master-page .catalog-subs a span {
  font-weight: 300;
  color: #424949;
}
.catalog-master-page .catalog-subs a:hover span, .catalog-master-page .catalog-subs a:visited span {
  text-decoration: underline;
}

/*# sourceMappingURL=common.css.map */
