@import "../../../theme/assets/css/variables";

html .col-banner-sidebar {
    padding-left: 0;
    flex-basis: 315px;
    max-width: 315px;
}

.g {
    display: table;
    margin-bottom: 15px;
    max-width: 300px;

    img {
        max-width: 100%;
    }
}
