@import "../../../theme/assets/css/variables";

.twitter-typeahead {
    display: block !important;
}

.tt-menu {
    background: #fff;
    width: 100%;
    border: 1px solid #969696;
    margin-top: 5px;
    border-radius: 3px;
}

.tt-suggestion {
    padding: 1px 10px;
    cursor: pointer;

    &:hover {
         background: #d6d5d5;
    }
}

.tt-dataset {
    max-height: 150px;
    overflow-y: auto;
}

.master-searchbox {
    .form-control {
        color: #000;
        &::placeholder {
            color: #a8a8a8;
        }
    }

    .form-text {
        color: $color-light;
        font-size: 14px;
    }


    .advanced-options {
        a {
            text-decoration: none;
            color: $color-primary;
            border-bottom: 1px dashed $color-primary;

            &:hover {
                border-bottom-style: solid;
            }
        }
    }
}