@import "../../../theme/assets/css/variables";

body {
    background: $color-lighter;
    color: $color-dark;
    font-weight: 300;
    font-family: $primary-font;
    font-size: 12px;
}

a, a:hover {
    color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: 900;
}

strong {
    font-weight: 500;
}

.yoast-alert {
    display: none;
}


.wp-core-ui .button.acf-button {
    border: 0;
    box-shadow: none;
    text-shadow: none;
    height: auto;
    background: #b9b9b9;

    &.button-primary {
        background: $color-primary;

        &, &:hover {
            color: #fff;
        }
    }
}
.acf-gallery .acf-gallery-toolbar {
    height: auto;
}

.modal {
    .btn {
        font-weight: 200;
    }
    p {
        font-size: 16px;
    }
}

#your-profile {
    & > .form-table {
        th {
            padding: 10px 10px 10px 0;
            font-size: 16px;
        }
        td {
            padding: 10px 10px;
            font-size: 16px;
        }
        & .acf-field > .acf-label {
            label {
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    & > h2:nth-of-type(1) {
        display: none;
    }

    & > h2:nth-of-type(2),
    & > .form-table:nth-of-type(2) {
        display: none;
    }

    & > h2:nth-of-type(3) {
        display: none;
    }

    .user-url-wrap,
    .user-googleplus-wrap,
    .user-twitter-wrap,
    .user-facebook-wrap {
        display: none;
    }

    & > h2:nth-of-type(4),
    & > .form-table:nth-of-type(4) {
        display: none;
    }

    & > h2:nth-of-type(5) {
        display: none;
    }


    & > h2:nth-of-type(6) {
        margin: 30px 0 0;
        padding: 15px 10px;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-bottom-width: 0;
        text-decoration: underline;
    }

    & > .form-table:nth-of-type(7) {
        margin-top: 0;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-top-width: 0;

        .acf-label {
            padding-left: 10px;
        }
        .acf-input {
            padding-right: 10px;
        }
    }

    & > .form-table .user-sessions-wrap {
        display: none;
    }
}

.profile-info {
    margin: 30px 0;
}

.acf-taxonomy-field.acf-soh {
    .categorychecklist-holder {
        max-height: none;
        float: none;
    }

    .acf-checkbox-list {
        & > li {
            margin-bottom: 30px;

            & > label {
                input {
                    display: none;
                }

                span {
                    font-weight: bold;
                    font-size: 16px;
                }
            }

        }
    }

    .children li {
        float: left;
        width: 33%;
    }
}

.message-to-master {
    background: #fff;
    border: 1px solid #000;
    padding: 20px;
    max-width: 600px;

    h3 {
        margin-top: 0;
    }
    h5 {
        margin: 0;
        font-size: 16px;
    }
    .form-table td & p {
        margin-bottom: 20px;
    }

}

#wpfooter {
  display: none !important;
}

#adminmenu {
    li.pro-account-link a {
        color: $color-primary;

    }
}
