@import "../../../theme/assets/css/variables";

body.login {
    background: $color-darker;

    #login {
        padding-top: 30px;
    }

    h1 a {
        width: 100%;
        height: 90px;
        background: none;
        text-indent: 0;
        color: #fff;

        &:hover, &:active {
            color: #fff;
        }

        &::before {
            content: '';
            background: url('../../../theme/assets/img/proremont-co-logo-white.png') no-repeat center center;
            background-size: contain;
            height: 64px;
            display: block;
        }
    }

    #backtoblog a,
    #nav a {
        color: $color-primary;

        &:hover {
            color: $color-primary;
        }
    }

    .message {
        border-color: $color-primary;
    }

    .button-primary {
        background: $color-primary;
        border: 0;
        text-shadow: none;
        box-shadow: none;
    }
}
