@import "../../../theme/assets/css/variables";

body.login {
    background: #3c3c3b;

    #login {
        padding-top: 30px;
    }

    h1 a {
        width: 100%;
        background: url('../img/proremont-co-logo-white.png') no-repeat center center;
        background-size: contain;
    }

    #backtoblog a,
    #nav a {
        color: $color-primary;

        &:hover {
            color: $color-primary;
        }
    }

    .message {
        border-color: $color-primary;
    }

    .button-primary {
        background: $color-primary;
        border: 0;
        text-shadow: none;
        box-shadow: none;
    }
}
