@import "../../../theme/assets/css/variables";


.master-list {
    .nav {
        border-bottom: 25px solid $color-dark;

        @media (min-width: $screen-width-lg) {
            padding-left: 30px;
        }

        .nav-link {
            margin: 0 5px;
            color: $color-dark;
            border-radius: 0;
            border: 0;
            border-top: 5px solid $color-primary;

            &:hover {
                border-color: $color-primary;
                background: #f5f7f9;
            }

            &.active {
                color: #fff;
                background-color: $color-dark;
                border-radius: 0;
                border: 0;
                border-top: 5px solid $color-dark;
            }
        }
    }
}


.master-item {
    padding: 10px;
    margin-bottom: 10px;
    background: #f8f9f9;
    border: 1px solid #e7e8e8;
    border-radius: 4px;

    .left {
        float: left;
        margin-right: 15px;
    }

    .avatar {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;

        @media (min-width: $screen-width-sm) {
            margin-bottom: 0;
        }
    }

    h5 .is-confirmed {
        font-size: 14px;
        margin-left: 5px;
        color: #30F447;
    }

    .type {
        font-weight: bolder;
        font-size: .85rem;
    }

    .pro-label {
        background: $color-primary;
        color: #fff;
        font-weight: 900;
        font-size: 75%;
        padding: 2px 4px;
        border-radius: 2px;
        vertical-align: text-bottom;
    }

    .location {
        font-size: .85rem;
    }

    .excerpt {
        font-family: $secondary-font;
        word-break: break-word;
        margin-bottom: -1rem;

        .more {
            text-align: right;
            margin-top: -10px;
            margin-bottom: 15px;

            a {
                color: $color-primary;
                font-size: .85rem;
                font-weight: 400;
            }
        }
    }

    .media img {
        border: 1px solid #e7e8e8;
        width: 100px;
        max-width: 100px;
        height: auto;
        font-size: .75rem;
    }

    .media-body .rating {
        float: right;
    }

    .line {
        text-align: center;
        font-size: 0;
        margin: 10px;

        &::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            background: #e7e8e8;
        }
    }

    &.pro {
        background: #FEF8E9;
        border-color: #ffecbc;

        .line::after {
            background: #ffecbc;
        }


        a, a:hover {
            color: $color-primary;
        }

        .left .avatar img {
            border-color: $color-primary;
        }
    }
}


.master-list-pro h3 {
    color: $color-primary;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-lighter;
}

.master-list-simple h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid $color-lighter;
}

.btn.masters-see-all {
    font-size: 1rem;
    background: $color-primary;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;

    &:hover {
        background-color: darken($color-primary, 10);
        color: #fff;
    }
}


.pagination {
    .page-link, .page-link:hover {
        color: #3e3e3e;
    }
    .page-item.active .page-link {
        background-color: $color-primary;
        border-color: $color-primary;
    }

}

.master-detailed {
    .main-content {
        background: #f8f9f9;
        border: 1px solid #e7e8e8;
    }

    .header {
        .left {
            text-align: center;
            margin-right: 15px;

            @media (min-width: $screen-width-md) {
                float: left;
                text-align: left;
            }
        }

        .avatar {
            position: relative;
            margin-bottom: 10px;
        }

        img {
            width: 175px;
            max-width: 175px;
            height: auto;
            border: 1px solid $color-light;
        }

        .master-phones {
            font-weight: bolder;
            .show-number {
                color: $color-primary;
            }
            .delimiter {
                display: inline-block;
                font-weight: 300;
                padding-right: 5px;
            }
        }

        .phone a {
            color: $color-dark;
        }
    }

    &.pro {
        .main-content {
            background: #FEF8E9;
            border-color: #ffecbc;
        }

        .left .avatar img {
            border-color: $color-primary;
        }
    }

    .pro-label {
        background: $color-primary;
        color: #fff;
        font-weight: 900;
        font-size: 75%;
        padding: 2px 4px;
        border-radius: 2px;
        vertical-align: text-bottom;
    }


    h1 {
        font-size: 2rem;

        & .is-confirmed {
            font-size: 20px;
            margin-left: 5px;
            color: #30F447;
        }
    }
    &.pro h1 {
        color: $color-primary;
    }


    .type {
        font-weight: bolder;
        font-size: .85rem;
    }

    .location {
        font-size: .85rem;
    }

    h4 {
        margin-bottom: 15px;
    }


    .line {
        text-align: center;
        font-size: 0;
        margin: 10px;

        &::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            background: #e7e8e8;
        }
    }
    &.pro .line::after {
        background: #ffecbc;
    }


    .catalog {
        a, a:hover {
            color: $color-dark;
        }

        ul {
            padding-top: 15px;

            @media (min-width: $screen-width-sm) {
                padding-top: 0;
                margin-left: 75px;
            }

            a::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $color-primary;
                margin-right: 10px;
            }
        }
    }

    .catalog-title a {
        display: table;
        font-size: 16px;
        font-weight: bolder;
        text-decoration: none;

        .icon, .link {
            display: table-cell;
            vertical-align: middle;
        }
        .icon {
            font-size: 0;
        }
        .link {
            padding-left: 10px;
            font-weight: 200;
            color: $color-primary;

            span {
                font-weight: 400;
                color: $color-dark;
            }
        }

        &:hover, &:visited {
            .link span {
                text-decoration: underline;
            }
        }

        svg {
            fill: $color-dark;
            width: 48px;
            height: 48px;
        }
    }

    .catalog-subs {
        a {
            text-decoration: none;
            font-weight: 200;
            color: $color-primary;

            span {
                font-weight: 300;
                color: $color-dark;
            }

            &:hover, &:visited {
                span {
                    text-decoration: underline;
                }
            }
        }
    }

    .gallery-wrapper {
        width: 100%;
        background: $color-light;
        padding: 10px 30px;

        @media (min-width: $screen-width-lg) {
            width: 581px;
        }
        @media (min-width: $screen-width-xl) {
            width: 761px;
        }
    }

    .gallery {
        .slick-slide {
            padding: 0 5px;

            img {
                height: 200px;
                width: auto;
            }
        }
        .slick-dots li.slick-active button:before {
            color: #fff;
        }
    }
}
