.master-list .nav {
  border-bottom: 25px solid #424949; }
  @media (min-width: 992px) {
    .master-list .nav {
      padding-left: 30px; } }
  .master-list .nav .nav-link {
    margin: 0 5px;
    color: #424949;
    border-radius: 0;
    border: 0;
    border-top: 5px solid #E67E22; }
    .master-list .nav .nav-link:hover {
      border-color: #E67E22;
      background: #f5f7f9; }
    .master-list .nav .nav-link.active {
      color: #fff;
      background-color: #424949;
      border-radius: 0;
      border: 0;
      border-top: 5px solid #424949; }

.master-item {
  border-bottom: 1px solid #e8ebeb;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .master-item .left {
    float: left;
    margin-right: 15px; }
  .master-item .avatar {
    position: relative;
    display: inline-block; }
  .master-item h5 .is-confirmed {
    font-size: 14px;
    margin-left: 5px;
    color: #30F447; }
  .master-item .type {
    font-weight: bolder;
    font-size: .85rem; }
  .master-item .location {
    font-size: .85rem; }
  .master-item .excerpt {
    font-family: "Open Sans", sans-serif;
    word-break: break-word;
    margin-bottom: -1rem; }
    .master-item .excerpt .more {
      text-align: right;
      margin-top: -10px;
      margin-bottom: 15px; }
      .master-item .excerpt .more a {
        color: #E67E22;
        font-size: .85rem; }
  .master-item img {
    border: 1px solid #B2BABB;
    width: 100px;
    max-width: 100px;
    height: auto;
    font-size: .75rem; }
  .master-item .media-body .rating {
    float: right; }
  .master-item.master-item-pro a, .master-item.master-item-pro a:hover {
    color: #E67E22; }
  .master-item.master-item-pro .left .avatar::after {
    content: url("../img/pro-leaf.svg");
    width: 35px;
    height: 10px;
    position: absolute;
    bottom: 30%;
    left: 0; }

.master-list-pro h3 {
  color: #E67E22;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8ebeb; }

.master-list-simple h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e8ebeb; }

.btn.masters-see-all {
  font-size: 1rem;
  background: #E67E22;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  display: inline-block; }
  .btn.masters-see-all:hover {
    background-color: #bf6516;
    color: #fff; }

.pagination .page-link, .pagination .page-link:hover {
  color: #3e3e3e; }
.pagination .page-item.active .page-link {
  background-color: #E67E22;
  border-color: #E67E22; }

.master-detailed .header .left {
  text-align: center;
  margin-right: 15px; }
  @media (min-width: 768px) {
    .master-detailed .header .left {
      float: left;
      text-align: left; } }
.master-detailed .header .avatar {
  position: relative; }
.master-detailed .header img {
  width: 175px;
  max-width: 175px;
  height: auto;
  border: 1px solid #B2BABB; }
.master-detailed .header .master-phones {
  font-weight: bolder; }
  .master-detailed .header .master-phones .show-number {
    color: #E67E22; }
  .master-detailed .header .master-phones .delimiter {
    display: inline-block;
    font-weight: 300;
    padding-right: 5px; }
.master-detailed .header .phone a {
  color: #424949; }
.master-detailed.pro .header .avatar::after {
  content: url("../img/pro-leaf.svg");
  width: 50px;
  height: 10px;
  position: absolute;
  bottom: 20%;
  left: 0; }
.master-detailed h1 {
  font-size: 2rem; }
  .master-detailed h1 .is-confirmed {
    font-size: 20px;
    margin-left: 5px;
    color: #30F447; }
.master-detailed.pro h1 {
  color: #E67E22; }
.master-detailed .type {
  font-weight: bolder;
  font-size: .85rem; }
.master-detailed .location {
  font-size: .85rem; }
.master-detailed h4 {
  margin-bottom: 20px;
  margin-top: 30px; }
.master-detailed .catalog a, .master-detailed .catalog a:hover {
  color: #424949; }
.master-detailed .catalog ul {
  padding-top: 15px; }
  @media (min-width: 576px) {
    .master-detailed .catalog ul {
      padding-top: 0;
      margin-left: 75px; } }
  .master-detailed .catalog ul a::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E67E22;
    margin-right: 10px; }
.master-detailed .catalog-title a {
  display: table;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none; }
  .master-detailed .catalog-title a .icon, .master-detailed .catalog-title a .link {
    display: table-cell;
    vertical-align: middle; }
  .master-detailed .catalog-title a .icon {
    font-size: 0; }
  .master-detailed .catalog-title a .link {
    padding-left: 10px;
    font-weight: 200; }
    .master-detailed .catalog-title a .link span {
      font-weight: 400; }
  .master-detailed .catalog-title a:hover .link span, .master-detailed .catalog-title a:visited .link span {
    text-decoration: underline; }
  .master-detailed .catalog-title a svg {
    fill: #424949; }
.master-detailed .catalog-subs a {
  text-decoration: none;
  font-weight: 200; }
  .master-detailed .catalog-subs a span {
    font-weight: 300; }
  .master-detailed .catalog-subs a:hover span, .master-detailed .catalog-subs a:visited span {
    text-decoration: underline; }
.master-detailed .gallery-wrapper {
  width: 100%;
  background: #B2BABB;
  padding: 10px 30px; }
  @media (min-width: 992px) {
    .master-detailed .gallery-wrapper {
      width: 583px; } }
  @media (min-width: 1200px) {
    .master-detailed .gallery-wrapper {
      width: 763px; } }
.master-detailed .gallery .slick-slide {
  padding: 0 5px; }
  .master-detailed .gallery .slick-slide img {
    height: 200px;
    width: auto; }
.master-detailed .gallery .slick-dots li.slick-active button:before {
  color: #fff; }

/*# sourceMappingURL=common.css.map */
