$screen-width-xl: 1200px;
$screen-width-lg: 992px;
$screen-width-md: 768px;
$screen-width-sm: 576px;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$default-font: Arial;

$color-orange: #FF8F12;
$color-grey: #BDBDBD;
