body {
    background: #eee;
    color: #3e3e3e;
    font-size: 87.5%;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.colored-box {
    box-shadow: 0 3px 5px 0 rgba(174,174,174,.5);
    background: #fff;
}

@media (min-width: 992px) {
    .col-lg-300 {
        -ms-flex: 0 0 330px;
        flex: 0 0 330px;
        max-width: 330px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.frontpage-title h1 {
    font-weight: 100;
}

.frontpage-title h1 strong {
    font-weight: 900;
}

.frontpage-title .lead {
    font-weight: 200;
}

.navbar {
    background: #3c3c3b;
    color: #fff
}
.navbar a {
    color: #fff;
}
.navbar .dropdown-menu a {
    color: #212529;
}


.footer {
    background: #3c3c3b;
    color: #fff
}
.footer a {
    color: #fff;
}




.switch-catalog-block {
    font-family: 'Roboto', sans-serif;
}
.switch-catalog-block .button {
    background: #FF8F12;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
}
.switch-catalog-block .button span {
    font-size: 12px;
    margin-right: 5px;
}
.switch-catalog-block #catalogMenu {
    margin-top: 35px;
}



.master-list-block h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
}