@import "../../../theme/assets/css/variables";

body {
    background: #eee;
    color: #3e3e3e;
    font-size: 87.5%;
    font-weight: 300;
    font-family: $primary-font;
}

body .container {
    @media (min-width: $screen-width-xl) {
        max-width: 960px;
    }
}

.col-300 {
    @media (min-width: $screen-width-lg) {
        -ms-flex: 0 0 330px;
        flex: 0 0 330px;
        width: 330px;
    }
}

.colored-box {
    box-shadow: 0 3px 5px 0 rgba(174,174,174,.5);
    background: #fff;
}

.jumbotron.header {
    background: transparent no-repeat center 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/home.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0 20px;

    @media (min-width: $screen-width-md) {
        padding: 200px 0 40px;
    }

    h1 {
        margin-top: 20px;
        font-weight: 100;
        font-size: 2.5rem;

        @media (min-width: $screen-width-sm) {
            font-size: 3.5rem;
        }

        @media (min-width: $screen-width-md) {
            font-size: 4.5rem;
        }

        span {
            font-weight: 900;
        }
    }

    h2 {
        font-size: 1.5rem;

        @media (min-width: $screen-width-md) {
            font-size: 2rem;
        }
    }

    .lead {
        font-weight: 200;
    }
}



.frontpage-cons {
    font-weight: 200;
    display: table;
    font-size: .9rem;

    @media (min-width: $screen-width-sm) {
        font-size: 1.3rem;
    }
    @media (min-width: $screen-width-md) {
        font-size: 1.4rem;
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        line-height: 1.1;

        @media (min-width: $screen-width-sm) {
            width: 160px;
            height: 160px;
            line-height: 1.2;
        }
        @media (min-width: $screen-width-md) {
            width: 200px;
            height: 200px;
            line-height: 1.3;
        }
    }
    strong {
        display: block;
        color: $color-orange;
        font-weight: 900;
        font-size: 1rem;

        @media (min-width: $screen-width-sm) {
            font-size: 1.7rem;
        }
        @media (min-width: $screen-width-md) {
            font-size: 2rem;
        }
    }
}




h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: 900;
}

.navbar {
    background: #3c3c3b;
    color: #fff;
    padding: 0;

    &.navbar-expand>.container {
        flex-wrap: wrap;
        @media (min-width: $screen-width-sm) {
            flex-wrap: nowrap;
        }
    }

    .navbar-brand {
        width: 100%;
        margin-right: 0;
        text-align: center;

        @media (min-width: $screen-width-sm) {
            width: auto;
            margin-right: 1rem;
        }
    }

    a {
        color: #fff;
    }
    .dropdown {
        width: 100%;
        text-align: center;

        @media (min-width: $screen-width-sm) {
            width: auto;
            text-align: inherit;
        }

        & > a {
            white-space: nowrap;
            font-size: 20px;
        }

        .dropdown-menu {
            width: 100%;

            @media (min-width: $screen-width-sm) {
                width: auto;
            }

            & a {
                color: #212529;
            }
        }

    }
}


.footer {
    background: #3c3c3b;
    color: #fff;

    a {
        color: #fff;
    }
}




.switch-catalog-block {
    font-family: 'Roboto', sans-serif;

    .button {
        background: $color-orange;
        color: #fff;
        padding: 8px 12px;
        text-decoration: none;

        span {
            font-size: 12px;
            margin-right: 5px;
        }
    }

    #catalogMenu {
        margin-top: 35px;
    }
}



.master-list-block h1 {
    font-size: 2.1rem;
}


.page h1 {
    color: $color-orange;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-grey;
    margin-bottom: 20px;
}

.wpcf7-submit {
    border: 0;
    background: $color-orange;
    color: #fff;
    padding: 6px 14px;
}

.gallery-2columns {
    h3 {
        padding-bottom: 5px;
        border-bottom: 1px solid $color-grey;
    }
    img {
        border: 1px solid $color-grey;
    }
}
