body {
  background: #e8ebeb;
  color: #424949;
  font-weight: 300;
  font-family: "Roboto", sans-serif; }

.colored-box {
  box-shadow: 0 3px 5px 0 rgba(174, 174, 174, 0.5);
  background: #fff;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 992px) {
    .colored-box {
      margin-left: 0;
      margin-right: 0; } }

a, a:hover {
  color: #424949; }

.jumbotron.header {
  background: transparent no-repeat center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/home2.jpg");
  background-size: cover;
  color: #fff;
  padding: 80px 0 50px;
  text-align: center; }
  @media (min-width: 768px) {
    .jumbotron.header {
      padding: 100px 0 80px;
      text-align: inherit; } }
  .jumbotron.header h1 {
    font-weight: 600;
    font-size: 1.9rem; }
    @media (min-width: 576px) {
      .jumbotron.header h1 {
        font-size: 2.5rem; } }
    @media (min-width: 768px) {
      .jumbotron.header h1 {
        font-size: 3.5rem; } }
  .jumbotron.header .lead {
    font-weight: 200;
    margin-bottom: 50px; }
  .jumbotron.header .help {
    font-family: "Open Sans", sans-serif;
    margin-top: 5px;
    font-size: .75rem; }
  .jumbotron.header .find-master a {
    background-color: #E67E22;
    border-color: #E67E22;
    color: #121313;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 600;
    padding: 20px 40px; }
    .jumbotron.header .find-master a:hover {
      background-color: #bf6516; }
  .jumbotron.header .iam-master {
    margin-top: 40px; }
    @media (min-width: 768px) {
      .jumbotron.header .iam-master {
        margin-top: 0; } }
    .jumbotron.header .iam-master a {
      background-color: #e8ebeb;
      border-color: #e8ebeb;
      color: #121313;
      text-transform: uppercase;
      font-size: .85rem;
      font-weight: 600;
      padding: 20px 40px; }
      .jumbotron.header .iam-master a:hover {
        background-color: #cdd2d3; }

.frontpage-cons {
  font-weight: 200;
  display: table;
  font-size: .9rem; }
  @media (min-width: 576px) {
    .frontpage-cons {
      font-size: 1.3rem; } }
  @media (min-width: 768px) {
    .frontpage-cons {
      font-size: 1.4rem; } }
  .frontpage-cons .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .frontpage-cons .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 1.1; }
    @media (min-width: 576px) {
      .frontpage-cons .circle {
        width: 160px;
        height: 160px;
        line-height: 1.2; } }
    @media (min-width: 768px) {
      .frontpage-cons .circle {
        width: 200px;
        height: 200px;
        line-height: 1.3; } }
  .frontpage-cons strong {
    display: block;
    color: #E67E22;
    font-weight: 900;
    font-size: 1rem; }
    @media (min-width: 576px) {
      .frontpage-cons strong {
        font-size: 1.7rem; } }
    @media (min-width: 768px) {
      .frontpage-cons strong {
        font-size: 2rem; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.navbar {
  background: #424949;
  color: #fff;
  padding: 0; }
  .navbar .navbar-brand {
    width: 100%;
    margin-right: 0;
    text-align: center; }
    @media (min-width: 992px) {
      .navbar .navbar-brand {
        width: auto;
        margin-right: 100px; } }
  .navbar a {
    color: #fff; }
  .navbar .navbar-nav {
    margin-left: 20px; }
  .navbar .navbar-toggler {
    margin-right: 10px; }
    @media (min-width: 576px) {
      .navbar .navbar-toggler {
        margin-right: 0; } }
  .navbar .dropdown {
    margin-left: 10px; }
    @media (min-width: 576px) {
      .navbar .dropdown {
        margin-left: 0; } }
    .navbar .dropdown > a {
      white-space: nowrap;
      font-size: .85rem;
      font-weight: 600; }
      .navbar .dropdown > a span {
        border-bottom: 2px dotted #fff; }
    .navbar .dropdown .dropdown-menu {
      width: 100%; }
      @media (min-width: 576px) {
        .navbar .dropdown .dropdown-menu {
          width: auto; } }
      .navbar .dropdown .dropdown-menu a {
        color: #212529; }

.footer {
  background: #3c3c3b;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer strong {
    font-weight: 700; }
  .footer .copyright {
    color: #999;
    font-size: 14px; }
  .footer .footer-menu {
    margin-top: 35px; }

.page .content a {
  color: #E67E22; }
.page .content strong {
  font-weight: 900; }
.page .content .alignleft {
  float: left;
  margin: 0 10px 10px 0; }
.page .content .alignright {
  float: right;
  margin: 0 0 10px 10px; }
.page .content .aligncenter {
  display: block;
  margin: 0 auto 10px; }
.page .content img {
  max-width: 100%;
  height: auto; }

.switch-catalog-block {
  font-family: 'Roboto', sans-serif; }
  .switch-catalog-block .button {
    background: #E67E22;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none; }
    .switch-catalog-block .button span {
      font-size: 12px;
      margin-right: 5px; }
    .switch-catalog-block .button:hover {
      background-color: #bf6516; }
  .switch-catalog-block #catalogMenu {
    margin-top: 35px; }

.master-list-block h1 {
  font-size: 2.1rem; }

.page h1 {
  color: #E67E22;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8ebeb;
  margin-bottom: 20px; }

.wpcf7-submit {
  border: 0;
  background: #E67E22;
  color: #fff;
  padding: 6px 14px; }

.gallery-2columns h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e8ebeb; }
.gallery-2columns img {
  border: 1px solid #e8ebeb; }

/*# sourceMappingURL=common.css.map */
