@import "../../../theme/assets/css/variables";

body {
    background: $color-lighter;
    color: $color-dark;
    font-weight: 300;
    font-family: $primary-font;
}

.colored-box {
    box-shadow: 0 3px 5px 0 rgba(174,174,174,.5);
    background: #fff;
    margin-left: -15px;
    margin-right: -15px;


    @media (min-width: $screen-width-lg) {
        margin-left: 0;
        margin-right: 0;
    }
}

a, a:hover {
    color: $color-dark;
}


.jumbotron.header {
    background: #2C2C2C no-repeat center top;
    background-image: url('../img/home4_7.jpg');
    background-size: cover;
    color: #fff;
    padding: 80px 0 50px;
    margin-bottom: 0;
    text-align: center;

    @media (min-width: $screen-width-md) {
        padding: 60px 0 60px;
        background-image: url('../img/home4_1.jpg');
    }

    @media (min-width: $screen-width-lg) {
        background-image: url('../img/home4_2.jpg');
    }

    .frontpage-block {
        max-width: 500px;
    }

    .text-block {
        font-weight: 200;
        font-size: 1.3rem;

        .first {
            margin-bottom: 10px;
            word-spacing: 5px;
        }
        .last {

        }
        h1  {
            font-weight: 600;
            font-size: 2rem;
            margin: 0;

            @media (min-width: $screen-width-md) {
                font-size: 2.3rem;
            }

            .highlighted {
                display: block;
                font-weight: 900;
                color: $color-primary;
            }
        }
    }


    .buttons {
        margin-top: 50px;

        .help {
            font-family: $secondary-font;
            margin-top: 5px;
            font-size: .75rem;
        }

        & > div {
            margin: 10px 20px;
        }

        .find-master {
            display: inline-block;

            a {
                background-color: $color-primary;
                border-color: $color-primary;
                color: $color-darker;
                text-transform: uppercase;
                font-size: .85rem;
                font-weight: 600;
                padding: 20px 40px;

                &:hover {
                    background-color: darken($color-primary, 10);
                }
            }
        }

        .iam-master {
            display: inline-block;

            @media (min-width: $screen-width-md) {
                margin-top: 0;
            }

            a {
                background-color: $color-lighter;
                border-color: $color-lighter;
                color: $color-darker;
                text-transform: uppercase;
                font-size: .85rem;
                font-weight: 600;
                padding: 20px 40px;

                &:hover {
                    background-color: darken($color-lighter, 10);
                }
            }
        }
    }

    .reklama-link {
        color: $color-light;
        text-decoration: none;
        border-bottom: 1px dashed;

        &:hover {
            color: $color-lighter;
        }
    }
}



.frontpage-cons {
    display: table;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        line-height: 1.1;
        font-size: .8rem;

        @media (min-width: $screen-width-sm) {
            width: 160px;
            height: 160px;
            line-height: 1.2;
            font-size: 1.3rem;
        }
        @media (min-width: $screen-width-md) {
            width: 200px;
            height: 200px;
            line-height: 1.3;
            font-size: 1.4rem;
        }

        svg {
            fill: $color-darker;
            height: 20px;
            max-width: 100%;
            margin-bottom: 7px;

            @media (min-width: $screen-width-sm) {
                height: 30px;
                margin-bottom: 10px;
            }
            @media (min-width: $screen-width-md) {
                height: 40px;
                margin-bottom: 15px;
            }
        }
    }
    strong {
        display: block;
        color: $color-primary;
        font-weight: 900;
        font-size: 0.9rem;

        @media (min-width: $screen-width-sm) {
            font-size: 1.4rem;
        }
        @media (min-width: $screen-width-md) {
            font-size: 1.5rem;
        }
    }
}




h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: 900;
}

.navbar {
    background: $color-dark;
    color: #fff;
    padding: 0;

    .navbar-brand {
        width: 100%;
        margin-right: 0;
        text-align: center;
        padding-top: .5rem;
        padding-bottom: .5rem;

        @media (min-width: $screen-width-lg) {
            width: auto;
            margin-right: 100px;
        }
    }

    a {
        color: #fff;
    }

    .navbar-nav {
        .find-master {
            @media (min-width: $screen-width-lg) {
                border-radius: .25rem;
                line-height: 1.25;
                user-select: none;
                font-weight: 400;
                white-space: nowrap;
                vertical-align: middle;

                background-color: $color-primary;
                color: $color-darker;
                font-size: 1rem;
                margin-left: 15px;

                &:hover {
                    background-color: darken($color-primary, 10);
                    color: $color-darker;
                }
            }
        }

        .iam-master {
            @media (min-width: $screen-width-lg) {
                border-radius: .25rem;
                line-height: 1.25;
                user-select: none;
                font-weight: 400;
                white-space: nowrap;
                vertical-align: middle;

                background-color: $color-lighter;
                color: $color-darker;
                font-size: 1rem;
                margin-left: 15px;

                &:hover {
                    background-color: darken($color-lighter, 10);
                    color: $color-darker;
                }
            }
        }
    }

    .navbar-toggler {
        margin-right: 10px;
        margin-bottom: 10px;

        @media (min-width: $screen-width-sm) {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    .dropdown {
        margin-left: 10px;
        margin-bottom: 10px;

        @media (min-width: $screen-width-sm) {
            margin-left: 0;
            margin-bottom: 0;
        }

        & > a {
            white-space: nowrap;
            font-size: 1.1rem;
            font-weight: 600;

            svg {
                vertical-align: middle;
                fill: $color-primary;
            }

            span {
                border-bottom: 2px dotted #fff;
            }
        }

        .dropdown-menu {
            width: 100%;
            min-width: 20rem;

            .left, .right {
                width: 50%;
            }

            &.show {
                display: flex;
            }

            @media (min-width: $screen-width-sm) {
                width: auto;
            }

            & a {
                color: $color-dark;
                padding: .15rem 2rem;
            }
        }

    }
}


.footer {
    background: $color-dark;
    color: #fff;

    a {
        color: #fff;
    }

    strong {
        font-weight: 700;
    }

    .copyright {
        color: $color-light;
        font-size: 14px;
    }

    .footer-menu {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.page {
    .page-title {
        color: $color-primary;
        margin-bottom: 20px;
    }

    .content {
        a {
            color: $color-primary;
        }
        strong {
            font-weight: 900;
        }
        .alignleft {
            float: left;
            margin: 0 10px 10px 0;
        }
        .alignright {
            float: right;
            margin: 0 0 10px 10px;
        }
        .aligncenter {
            display: block;
            margin: 0 auto 10px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}




.switch-catalog-block {
    font-family: $primary-font;

    .button {
        background: $color-primary;
        color: #fff;
        padding: 8px 12px;
        text-decoration: none;

        span {
            font-size: 12px;
            margin-right: 5px;
        }

        &:hover {
            background-color: darken($color-primary, 10);
        }
    }

    #catalogMenu {
        margin-top: 35px;
    }
}



.master-list-block h1 {
    font-size: 2.1rem;
}

.wpcf7-submit {
    border: 0;
    background: $color-primary;
    color: #fff;
    padding: 6px 14px;
}

.gallery-2columns {
    img {
        border: 1px solid $color-lighter;
    }
}

.footer .social-icons {
    svg {
        width: 36px;
        height: 36px;
        fill: $color-lighter;
    }

    a:hover {
        svg {
            fill: $color-light;
        }
    }
}


.btn.btn-pror-primary,
a.btn.btn-pror-primary {
    background: $color-primary;
    color: #fff;
}

.header-underlined {
    padding-bottom: 5px;
    border-bottom: 1px solid #e8ebeb;
}

.comments-area {
    .comment {
        overflow: hidden;
        padding-bottom: 20px;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 20px;
        min-height: 110px;

        .fn {
            font-size: 16px;
        }
        .says {
            display: none;
        }
        article {
            padding-left: 110px;
        }
        .comment-author {
            float: left;

            img {
                margin-left: -110px;
                position: absolute;
            }
        }
        .comment-meta {
            overflow: hidden;
        }
        .comment-metadata {
            float: right;

            a {
                font-size: .75rem;
                color: $color-light;
            }
        }
        .rating-container {
            float: none;
            margin-top: 10px;
        }
        .crfp-rating-breakdown {
            font-size: .85rem;

            @media (min-width: $screen-width-md) {
                float: left;
                width: 33%;
                clear: none;
                margin-top: 0;
            }
        }
    }


    .comment-respond {
        padding: 15px;
        margin-top: 20px;
        box-shadow: 0 3px 5px 0 rgba(174,174,174,.5);

        .comment-reply-title {
            margin: -15px -15px 15px;
            padding: 12px 15px;
            background: $color-primary;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
        }
        .form-submit {
            text-align: right;
        }
        .submit {
            border: 0;
            background: $color-primary;
            color: #fff;
            padding: 7px 15px;;
            font-weight: 300;
            margin-left: 20px;
            cursor: pointer;

            &:hover {
                background-color: darken($color-primary, 10);
            }
        }

        strong {
            font-size: 16px;
        }
        i {
            font-size: .75rem;
            a {
                color: $color-primary;
            }
        }
        .crfp-field label {
            float: left;
            width: 80px;
        }
        textarea {
            width: 100%;
        }
        .cancel-form {
            color: $color-dark;
        }

        .comment-form {
            @media (min-width: $screen-width-sm) {
                padding-left: 110px;
            }

            .logged-in-as {
                height: 110px;
                padding-left: 110px;

                @media (min-width: $screen-width-sm) {
                    height: 75px;
                    padding-left: 0;
                }
            }

            .avatar {
                margin-left: -110px;
                position: absolute;
            }

            textarea {
                height: 100px;
                border: 1px solid $color-primary;
            }
        }
    }
}

.homepage-content {
    a {
        color: $color-primary;
    }
    strong {
        font-weight: 900;
    }
}
