@import "../../../theme/assets/css/variables";

.blog, .category {
    article {
        .post-image {
            margin-left: -1rem!important;
            margin-right: -1rem!important;
            text-align: center;
            display: block;
            background: #fff;
        }

        .post-categories {
            font-size: .85rem;
            color: $color-light;

            a {
                color: $color-primary;
            }
        }

        .post-date {
            font-size: .85rem;
            color: $color-light;
            float: right;
        }

        .post-more-link {
            font-size: .85rem;
            color: $color-primary;
            font-weight: 400;
        }

        .post-catalogs {
            font-size: .85rem;
            color: $color-primary;

            a {
                color: $color-primary;
            }
        }
    }
}

.single {
    .main-article {
        .post-image {
            margin-left: -1rem!important;
            margin-right: -1rem!important;
            text-align: center;
            display: block;
            background: #fff;
        }

        .post-categories {
            font-size: .85rem;
            color: $color-light;

            a {
                color: $color-primary;
            }
        }

        .post-date {
            font-size: .85rem;
            color: $color-light;
            float: right;
        }

        .post-catalogs {
            font-size: .85rem;
            margin-top: 15px;
            text-align: center;
            color: $color-primary;

            @media (min-width: $screen-width-xl) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            a {
                color: $color-primary;
            }
        }

        .post-sharing {
            margin-top: 20px;

            .oneall_sharing_icons {
                display: flex;
                justify-content: center;
            }
        }
    }
}

article.small-post {
    .post-img-link {
        text-align: center;
        display: block;
        background: $color-lighter;
    }
    .post-title {
        margin-top: 15px;
    }

    .post-categories {
        font-size: .85rem;
        color: $color-light;

        a {
            color: $color-primary;
        }
    }

    .post-date {
        font-size: .85rem;
        color: $color-light;
    }
    .post-more-link {
        font-size: .85rem;
        color: $color-primary;
        font-weight: 400;
    }
}

.see-blog {
    border-top: 1px solid #e8ebeb;
    padding-top: 15px;
    text-align: center;

    a {
        font-size: 1rem;
        background: $color-primary;
        color: #fff;
        padding: 5px 12px;
        text-decoration: none;
        display: inline-block;

        &:hover {
            background-color: darken($color-primary, 10);
            color: #fff;
        }

    }
}

.latest-posts-list {
    padding-left: 1rem;

    li {
        margin-bottom: .5rem;
    }
}