@import "../../../theme/assets/css/variables";

.blog {
    article {
        .post-image {
            margin-left: -1rem!important;
            margin-right: -1rem!important;
            text-align: center;
            display: block;
            background: #fff;
        }
        .post-date {
            font-size: .85rem;
            color: $color-light;
        }
        .post-more-link {
            font-size: .85rem;
            color: $color-primary;
        }
    }
}

.single {
    article {
        .post-image {
            margin-left: -1rem!important;
            margin-right: -1rem!important;
            text-align: center;
            display: block;
            background: #fff;
        }

        .post-date {
            font-size: .85rem;
            color: $color-light;
        }

        .oneall_sharing_icons {
            display: flex;
            justify-content: center;
        }

        .post-catalogs {
            font-size: .85rem;
            margin-top: 15px;
            text-align: center;

            @media (min-width: $screen-width-xl) {
                width: 80%;
                margin: 0 auto;
            }

            a {
                color: $color-primary;
            }
        }

        .post-content {
            @media (min-width: $screen-width-xl) {
                width: 80%;
                margin: 0 auto;
            }

            a {
                color: $color-primary;
            }
            strong {
                font-weight: 900;
            }
            .alignleft {
                float: left;
                margin: 0 10px 10px 0;
            }
            .alignright {
                float: right;
                margin: 0 0 10px 10px;
            }
            .aligncenter {
                display: block;
                margin: 0 auto 10px;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

article.small-post {
    .post-img-link {
        text-align: center;
        display: block;
        background: $color-lighter;
    }
    .post-title {
        margin-top: 15px;
    }

    .post-date {
        font-size: .85rem;
        color: $color-light;
    }
    .post-more-link {
        font-size: .85rem;
        color: $color-primary;
    }
}

.see-blog {
    border-top: 1px solid #e8ebeb;
    padding-top: 15px;
    text-align: center;

    a {
        font-size: 1rem;
        background: $color-primary;
        color: #fff;
        padding: 8px 12px;
        text-decoration: none;
        display: inline-block;

        &:hover {
            background-color: darken($color-primary, 10);
            color: #fff;
        }

    }
}