@import "../../../theme/assets/css/variables";

html .col-prom-sidebar {
    padding-left: 0;
    flex-basis: 315px;
    max-width: 315px;
}

#prom_mobile1,
#prom_mobile2 {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;

    & > div {
        margin: 0 auto;
    }
}

#prom_sidebar {
    .reklama-link {
        font-size: .75rem;
        color: darken($color-lighter, 40);
        text-decoration: none;
        border-bottom: 1px dashed;

        &:hover {
            border-bottom-style: solid;
        }
    }
}

.prom-mobile {
    .reklama-block {
        width: 300px;
        margin: 0 auto;
    }

    .reklama-link {
        font-size: .75rem;
        color: darken($color-lighter, 40);
        text-decoration: none;
        border-bottom: 1px dashed;

        &:hover {
            border-bottom-style: solid;
        }
    }
}