@import "../../../theme/assets/css/variables";

.partner-wrapper {
    width: 100%;
    padding: 0 30px;

    @media (min-width: $screen-width-lg) {
        width: 581px;
    }
    //@media (min-width: $screen-width-xl) {
    //    width: 761px;
    //}

    .slick-slide {
        padding: 0 15px;
    }

    .avatar img {
        max-height: 100px;
        max-width: 200px;
        width: auto;
        height: auto;
    }

    .slick-list, .slick-track {
        display: flex;
    }

    .slick-initialized .slick-slide {
        display: flex;
        align-items: center;
    }

    .slick-prev:before, .slick-next:before {
        color: $color-darker;
    }
}

.partner-detailed {
    .avatar {
        text-align: center;
        margin-bottom: 20px;

        img {
            width: auto;
            height: auto;
            max-height: 200px;
            max-width: 100%;
        }
    }

    .post-catalogs {
        font-size: .85rem;
        margin-top: 15px;
        text-align: center;

        @media (min-width: $screen-width-xl) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .post-sharing {
        margin-top: 20px;

        .oneall_sharing_icons {
            display: flex;
            justify-content: center;
        }
    }
}

.partner-item {
    .avatar {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: auto;
            height: auto;
            max-height: 70px;
            max-width: 100%;
        }
    }
}


.btn.partners-see-all {
    font-size: 1rem;
    background: $color-primary;
    color: #fff;
    padding: 5px 12px;
    text-decoration: none;
    display: inline-block;

    &:hover {
        background-color: darken($color-primary, 10);
        color: #fff;
    }
}
