@import "../../../theme/assets/css/variables";

div.rating-total {
    text-align: center;

    &.comment-rating-field-pro-plugin a {
        font-size: 0;

        span {
            color: $color-dark;
            font-size: 12px;
        }
        &:hover span {
            text-decoration: underline;
        }
    }

    & span.rating-always-on {
        margin-right: 0 !important;
    }

    & .total {
        display: block;
        margin-top: 3px;
    }

    & .rating-container {
        margin: 0;
    }
}

.rating-breakdown {
    .rating-container {
        width: 33.3%;
        clear: none;
        float: left;
        text-align: center;
        margin: 0;

        .label {
            display: block;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 8px;
        }
    }
}


.pror-score {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 900;
}